<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ecaDataFilter">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="CheckListBox1" member="yes">
					<content>
						<item>SDO data (experimental)</item>
						<item>PDO data</item>
						<item>No ethercat frame</item>
					</content>
					<enabled>0</enabled>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>4</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
					<label>Close</label>
					<handler function="OnButton1Click" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
