<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ecaSetting">
		<title>Setting</title>
		<size>600,500</size>
		<minsize>300,500</minsize>
		<exstyle>wxWS_EX_VALIDATE_RECURSIVELY</exstyle>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>--- PDO format ---</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer4" member="no">
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
							<label>64 bits</label>
							<content>
								<item>num</item>
								<item>(0x) hex</item>
								<item>(b) binary</item>
							</content>
							<validator>wxGenericValidator(&amp;format64in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX2" variable="RadioBox2" member="yes">
							<label>32 bits</label>
							<content>
								<item>num</item>
								<item>(0x) hex</item>
								<item>(b) binary</item>
							</content>
							<validator>wxGenericValidator(&amp;format32in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX3" variable="RadioBox3" member="yes">
							<label>16 bits</label>
							<content>
								<item>num</item>
								<item>(0x) hex</item>
								<item>(b) binary</item>
							</content>
							<validator>wxGenericValidator(&amp;format16in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX4" variable="RadioBox4" member="yes">
							<label>8 bits</label>
							<content>
								<item>num</item>
								<item>(0x) hex</item>
								<item>(b) binary</item>
							</content>
							<validator>wxGenericValidator(&amp;format8in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer5" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>--- Options ---</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer6" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer7" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
									<label>Label</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBox2" member="yes">
									<label>Label</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBox3" member="yes">
									<label>Label</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer8" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX4" variable="CheckBox4" member="yes">
									<label>Label</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX5" variable="CheckBox5" member="yes">
									<label>Label</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX6" variable="CheckBox6" member="yes">
									<label>Label</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="Button1" member="yes">
							<label>CANCEL</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_OK" variable="Button2" member="yes">
							<label>OK</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
