<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ecaSetting">
		<size>500,500</size>
		<minsize>400,500</minsize>
		<exstyle>wxWS_EX_VALIDATE_RECURSIVELY</exstyle>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>--- PDO in ---</label>
						</object>
						<flag>wxALL|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer4" member="no">
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
							<label>64 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format64in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX2" variable="RadioBox2" member="yes">
							<label>32 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format32in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX3" variable="RadioBox3" member="yes">
							<label>16 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format16in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX4" variable="RadioBox4" member="yes">
							<label>8 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format8in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer5" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>--- PDO out ---</label>
						</object>
						<flag>wxALL|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer6" member="no">
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX5" variable="RadioBox5" member="yes">
							<label>64 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format64in)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX6" variable="RadioBox6" member="yes">
							<label>32 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format32out)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX7" variable="RadioBox7" member="yes">
							<label>16 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format16out)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX8" variable="RadioBox8" member="yes">
							<label>8 bits</label>
							<content>
								<item>num</item>
								<item>hex</item>
								<item>hex (0x)</item>
							</content>
							<default>-1</default>
							<validator>wxGenericValidator(&amp;format8out)</validator>
							<style>wxRA_SPECIFY_COLS</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="Button1" member="yes">
							<label>CANCEL</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_OK" variable="Button2" member="yes">
							<label>OK</label>
							<handler function="OnButton2Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
